*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/

# Installer output
Installer/Output
Installer/nsis/pGina-3.2.4.1-setup.exe

# Installer pre-processor
Installer/PreprocessedpGina0.iss


#Visual Studio Configuration
**/.vs/